<!-- hbs.header will get request from index,about,help page. If we see the
app.get function of thsese three mapping we have title and name property.
So we are getting title and name from there.-->

<header>

    <h1> {{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>